{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/stylecompras.css' %}">
    <link rel="shortcut icon" href="{% static 'img/carro-de-la-compra.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIENDA</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav>
            <a href="/">INICIO</a>
            <a href="datoCliente">CLIENTE</a>
            <a href="\Locacion">UBICACION</a>
        </nav>
    </header>
    <!-- PRODUCTOS EN VENTA -->
    <main>
        <section class="contenedor presentacion">
            <h1 class="palabraprincipal">PRODUCTOS</h1>
            <p>Los mejores postres y a precio comodo</p>
        </section>
        
        <!-- IMAGENES DE LOS PRODUCTOS EN VENTA-->
        <section class="container">
            
            <div class="card">
                <img src="{% static 'img/dulces/producto4.jpg' %}"><br></br>
                <h4>HELADO DE OREO</h4><br></br>
                <p>Helado sabor a cafe con pequeños trozos de galleta oreo</p><br></br>
                <a href="Set1">Comprar</a>
            </div>

            <div class="card">
                <img src="{% static 'img/Tortas/producto2.png' %}"><br></br>
                <h4>PASTEL DE OREO</h4><br></br>
                <p>Pastel sabor a galleta Oreo</p><br></br>
                <a href="Set2">Comprar</a>
            </div>

            <div class="card">
                <img src="{%static 'img/dulces/producto5.jpg'%}"><br></br>
                <h4>GALLETA CHIPS</h4><br></br>
                <p>Galletas con chips de chocolate</p><br></br>
                <a href="Set3">Comprar</a>
            </div>

            <div class="card">
                <img src="{% static 'img/dulces/producto1.jpg' %}"><br></br>
                <h4>DONUTS</h4><br></br>
                <p>Donuts con sabores de : vainilla, chocolate, fresa</p><br></br>
                <a href="Set4">Comprar</a>
            </div>

            <div class="card">
                <img src="{% static 'img/Tortas/producto3.jpg' %}"><br></br>
                <h4>PASTEL BISOS</h4><br></br>
                <p>Pastel con biscochuelos de vainilla con chocolate</p><br></br>
                <a href="Set5">Comprar</a>
            </div>

            <div class="card">
                <img src="{% static 'img/dulces/producto6.jpg'%}"><br></br>
                <h4>MACARONS</h4><br></br>
                <p>Dulce frances macarons de distintos sabores</p><br></br>
                <a href="Set6">Comprar</a>
            </div>


            <div class="card">
                <img src="{% static 'img/Tortas/torta3.jpg'%}"><br></br>
                <h4>TORTA DE OREO</h4><br></br>
                <p>Torta de oreo con trosos de oreo y sabor a chocolate</p><br></br>
                <a href="Set7">Comprar</a>
            </div>

            <div class="card">
                <img src="{% static 'img/Tortas/torta4.jpg' %}"><br></br>
                <h4>TORTA DE MARACUYA</h4><br></br>
                <p>Torta con sabor a maracuya</p><br></br>
                <a href="Set8">Comprar</a>
            </div>

            <div class="card">
                <img src="{% static 'img/Tortas/torta5.jpg'%}"><br></br>
                <h4> TORTA BLACK NEW YORK</h4><br></br>
                <p>Torta con sabor a cafe, relleno de manjar y con galleta oreo</p><br></br>
                <a href="Set9">Comprar</a>
            </div>

            <div class="card">
                <img src="{%static 'img/dulces/producto9.jpg'%}"><br></br>
                <h4>ALFAJORES PERUANOS</h4><br></br>
                <p>Tradicion peruana alfajores con relleno de manjar</p><br></br>
                <a href="Set10">Comprar</a>
            </div>

            <div class="card">
                <img src="{% static 'img/dulces/producto10.jpg' %}"><br></br>
                <h4>EMPANADAS</h4><br></br>
                <p>Empanadas con relleno de pino, carne, pollo.</p><br></br>
                <a href="Set11">Comprar</a>
            </div>

            <div class="card">
                <img src="{% static 'img/dulces/producto11.jpg' %}"><br></br>
                <h4>BROWNIE OREO</h4><br></br>
                <p>Brownie con relleno de oreo y chispas de chocolates</p><br></br>
                <a href="Set12">Comprar</a>
            </div>

        
        </section>

    </main>
    <!-- PARTE INFERIOR DE LA PAGINA -->
    <footer>
        <h2 class="titulo-final">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>
    
</body>
</html>