{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icono1.png' %}" type="image/x-icon">
    <title>PASTELERIA</title> 
</head>
<body>
    <!-- PARTE DE CABECERA DE LA PAGINA  EL INICIO-->
    <header>
        <!--OPCIONES DE LA PAGINA-->
        <nav>
            <a href="#">INICIO</a>
            <a href="#">ACERCA DE</a>
            <a href="#">PRODUCTOS</a>
            <a href="#">SERVICIO</a>
            <a href="#">CONTACTO</a>
            <a href="Locacion">UBICACION</a>
            <!-- <a href="registro">REGISTRO</a> -->
            <a href="login">LOGIN</a>
            <ul style="text-align: left;padding: 10px 0px 0px 30px;" >
                <a href="Tienda" class="navi">
                    <img src="{% static 'img/icono-compra.svg' %}" width="60px" height="60px" style="display: flex;flex-wrap: wrap;">
                </a>
            </ul>
        </nav>
        <!--titulo-->
        <section class="header-text">
            <h1>SWEET CANDY</h1>
            <h2>Estamos buenisimos</h2>
        </section>
        <!--estilo-->
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" 
             preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-0.90,83.19 C150.00,150.00 337.69,-74.70 503.05,29.90 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;">
            </path>
            </svg>
        </div>
    </header>
    <!-- ACERCA DE -->  
    <main>
        <section class="contenedor about-us">
            <h2 class="titulo">ACERCA DE SWEET CANDY </h2>
            <div class="content-about-us">
                <img src="{% static 'img/postre.svg' %}"  class="image-about-us">
                <div class="content-texts">
                    <h3><span> 1 </span> EMPRESA </h3>
                    <p> Somos una pyme dedicada a la pastelería , en la cuál 
                        puedes encontrar todos tipo de pasteles , de los más 
                        exclusivos sabores y colores.</p>
                    <h3><span>2 </span> TRABAJADORES </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, quibusdam.</p>
                </div>
            </div>
        </section>
        <!-- PRODUCTOS -->
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">PRODUCTOS</h2>
                <div class="galeria-port">

                    <div class="imagen-port">
                        <img src="{% static 'img/dulces/producto1.jpg' %}" >
                        <div class="hover-galeria">
                            <img src="{% static 'img/caramelo.svg' %}" alt="">
                            <p>Nuestro Producto</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'img/Tortas/producto2.png' %}">
                        <div class="hover-galeria">
                            <img src="{% static 'img/caramelo.svg' %}" alt="">
                            <p>Nuestro Producto</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'img/Tortas/producto3.jpg'%}">
                        <div class="hover-galeria">
                            <img src="{% static 'img/caramelo.svg' %}" alt="">
                            <p>Nuestro Producto</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'img/dulces/producto4.jpg' %}"  >
                        <div class="hover-galeria">
                            <img src="{% static 'img/caramelo.svg'%}" alt="">
                            <p>Nuestro producto</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'img/dulces/producto5.jpg' %}"  >
                        <div class="hover-galeria">
                            <img src="{% static 'img/caramelo.svg' %}" alt="">
                            <p>Nuestro producto</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{%static 'img/dulces/producto6.jpg' %}" >
                        <div class="hover-galeria">
                            <img src="{% static 'img/caramelo.svg' %}" alt="">
                            <p>Nuestro producto</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{%static 'img/dulces/producto7.jpg' %}" >
                        <div class="hover-galeria">
                            <img src="{% static 'img/caramelo.svg' %}" alt="">
                            <p>Nuestro producto</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{%static 'img/dulces/producto8.jpg'%}" >
                        <div class="hover-galeria">
                            <img src="{% static 'img/caramelo.svg' %}" alt="">
                            <p>Nuestro producto</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- OPINION DEL CLIENTE -->
        <section class="client contenedor">
            <h2 class="titulo">Opinion de nuestros Clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="{% static 'img/face1.jpg'%}" alt="">
                    <div class="contenido-texto-card">
                        <h4>MCLOVIN</h4>
                        <p>Super satisfecho con la atencion, disponibilidad de los trabajadores 
                            y lo mas importante lo rico de los dulces y tortas de SWEET CANDY.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{%static 'img/face2.png'%}" alt="">
                    <div class="contenido-texto-card">
                        <h4>MR.ROBOT</h4>
                        <p>Como ingeniero informatico me viene bien porque no tengo mucho tiempo
                            y los productos de se ven super ricos que dan ganas de comer todo, y 
                            el pedido llega super rapido y es una delicia. 10 de 10
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- NUESTROS SERVICIOS -->
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros Servicios</h2>
                <div class="service-cont">
                    <div class="servicio-ind">
                        <img src="{%static 'img/service1.png'%}" alt="">
                        <h3>METODO DE PAGO</h3>
                        <p>Metodo de pago efectivo y pago online.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="{% static 'img/service2.png' %}" alt="">
                        <h3>COMPRAS Y DESCUENTOS</h3>
                        <p>Cada cierto tiempo existen descuentos de nuestros productos.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="{% static 'img/service3.png' %}" alt="">
                        <h3>CREA TU PEDIDO</h3>
                        <p>Puedes mandar a crear tu torta o dulce que desees solo desealos y escribenos.</p>
                    </div>
                </div>
            </div>
        </section>
    
    </main>
    <!--PARTE INFERIOR DE LA PAGINA WEB-->
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>PHONE</h4>
                <p>982740134</p>
            </div>
            <div class="content-foo">
                <h4>EMAIL</h4>
                <p>Sweetcandy@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>LOCATION</h4>
                <p>Maipu</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>

</body>
</html>