{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/Stylelocation.css' %}">
    <link rel="shortcut icon" href="{% static 'img/ubicacion.png'%}" type="image/x-icon">
    <title>LOCATION</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav>
            <a href="/">INICIO</a>
            <a href="/Tienda">TIENDA</a>
            <a href="/Login">LOGOUT</a>
        </nav>
    </header>
    <!-- UBICACION -->
    <section class="main">
        <h1 class="titulo">UBICACION</h1>
        <div class="posicion">
            <div id="map"></div>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsIbb7Gx9QOJkb9n2GchnDc8GVkf6eOB8&callback=initMap"></script>    
            <script src="{% static 'js/localizacion.js' %}"></script>
            <script src="{%static 'js/main.js'%}"></script>
            <div class="context-text">
                <h3>Comuna</h3>
                <p>Maipu</p>        
            </div>
        </div>
    </section>
    <footer>
        <h2 class="titulo-final">&copy; SWEET CANDY | Estamos buenisimos </h2>
    </footer>

</body>
</html>