*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*  HEADER  */
header{ 
    width: 100%;
    height: 725px;    
    background: #834d9b;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{ /* nav en general */
    text-align: right;
    padding: 30px 50px 0 25px;
}

nav > a{ /*nav atributo*/
    color: #fff; /* color blanco*/
    font-weight: 300; /* fuente ligera de la letra */
    text-decoration: none; /* quita el subrayado de abajo*/
    margin-right: 10px; /*separa uno del otro */
}

nav > a:hover{ /*nav cuando el mouse pase sobre el*/
    text-decoration: underline; /* aparece el subrayado de abajo*/
}

header .header-text{ /* titulo del header*/
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header-text h1{
    font-size: 50px;
    color: white;
    font-weight: 100;
}

.header-text h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
    
}

.wave{ /*efecto ola*/ 
    position: absolute;
    bottom: 0;
    width: 100%; /*abarca el 100% de la pantalla de ancho*/
}

/* ABOUT US */
main .about-us{
    padding : 30px 0 60px 0;
}
.content-about-us{
    display: flex;
    justify-content: space-evenly;
}
.image-about-us{
    width: 48%;
}

.about-us .content-texts{
    width: 48%;
}

.content-texts h3{
    margin-bottom: 15px;
}
.content-texts h3 span{
    background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 6px;
}
.content-texts p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;    
}

/*  GALERIA DE IAMGENES */

.portafolio{
    background: #f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    height: 300px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p {
    color : white;
}
.imagen-port:hover .hover-galeria{
    transform :scale(1);
}

/* OPINIONES DE CLIENTES */
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: white;
    
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* Our services */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.service-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden; /*para q nada salga del footer*/
}

.contenedor-footer{
    display: flex; /*siempre desplega*/
    width: 90%;
    justify-content: space-evenly;
    padding-bottom: 50px;
    margin: auto;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}

.content-foo h4{
    color: white;
    border-bottom: 1px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: white;
}

/* TITULO FINAL */

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0 ;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .content-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us .content-texts{
        width: 90%;
    }

    .image-about-us{
        width: 60%;
    } 
    
    /* GALERIA */

    .imagen-port{
        width: 44%;
    }

    /* clientes */
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }


    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .service-cont{
        justify-content: center;
        flex-direction: column;/*colum*/

    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%; /*90 %*/
    }
}


@media screen and (max-width:500px){
    /* header */
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }

    .header-text h1{
        font-size: 35px;
    }
    .header-text h2{
        font-size: 20px;
    }
    
    .navi img{
        width: 35px;
        height: 35px;
      
    }

    /*  ABOUT US */
   .image-about-us{
       margin-bottom: 60px;
       width: 99%;
   }

   .about-us .content-texts{
       width: 95%;
   }

   /*  producto (galeria imagenes) */

   .imagen-port{
       width: 95%;
   }

   /* OPINION DEL CLIENTE */
   .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items:center;
   }

   .cards .card img {
       width: 90px;
       height: 90px;
   }

   /* FOOTER */
   .contenedor-footer{
       flex-direction: column;
       border: none;
    }

    .content-foo{
       margin-bottom: 20px;
       text-align: center;
       margin : 10px
    }
    .content-foo h4{
       border : none;
    }
    .content-foo p{
        color :white;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
    
}




