*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
body{
    font-family: 'Arial','sans-serif';
    background: #f2f2f2;
}

#wrapper{
    max-width: 100%;
    margin: 0 auto;
    background: #834d9b;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(297, 62%, 57%, 0.637), hsla(282, 34%, 45%, 0.664)), url(../img/fondo2.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /* padding: 32px; */
}
header{
    text-align: center;
    height: 150px;
    padding: 4px;
}
header h1{
    font-family: 'Playball', cursive;
    font-size: 55px;
    color: white;
    font-weight: 700;
    margin: 2rem 0;
}
header h2{
    font-style: italic;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
    
    margin-bottom: 1em
}

.main_menu {
    padding: 30px 0 30px 0;
    text-align: center;
    line-height: 10px;
    background-color:#414141;
} 

ul.main_menu{
    margin-top: 55px;
}
.main_menu li{
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16px;
}
.main_menu a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;
}
.main_menu a:hover{
    color : #59d5d8
}

/* FIN DE PARTE DE HEADER */

/* SECTION */

section{
    background: #f2f2f2;
    width: 100%;
    height: 700px;
}

section h1{
    text-align: center;
    padding: 40px 0 50px 0;
    font-size: 35px;
    font-family: 'Playball', cursive;
}

form{
    margin: 0 auto;
    width: 250px;
    height: 400px;
    position: relative;
    text-align: center;
}

/* FIN DEL SECTION*/

/* COMIENZO PARTE FOOTER */
footer{
    background-color:  #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden; /*para q nada salga del footer*/
}
.titulo-final{
    font-size: 20px;
    color: #9e9797;
    text-align: center;
}